
<div class="wrap">
    <iframe class="frame" data-bind="attr: {src: settingsViewModel.settings.plugins.jamsentry.ipaddr()}" alt="Enter the address of the JamSentry in settings to see its status field"></iframe>
</div>
